[defaults]
host_key_checking = False
inventory = inventory.yml
remote_user = root
timeout = 30
gather_facts = True
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-facts-cache
fact_caching_timeout = 3600
retry_files_enabled = True
retry_files_save_path = /tmp/ansible-retry
stdout_callback = default
callbacks_enabled = timer
force_color = True
nocows = 1
interpreter_python = auto_silent

[inventory]
enable_plugins = host_list, yaml, constructed, script

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
control_path = /tmp/ansible-%%h-%%p-%%r
pipelining = True


[callback_default]
result_format = yaml